body {
  background-image: radial-gradient(#19194d, #8c8cd9);
  color: #333333;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 0;
  margin: 0; }

.about1 {
  background-color: crimson; }

.navbar {
  z-index: 99;
  height: 10%;
  margin: 0; }
  .navbar ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
    opacity: 0.5; }
    .navbar ul li {
      float: left; }
      .navbar ul li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5rem; }
      .navbar ul li a:hover:not(.active) {
        background-color: white; }

.header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0; }

.header2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center; }

.img-circle {
  border-color: #333333;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  height: 20rem; }
  @media screen and (min-width: 720px) {
    .img-circle {
      margin-left: 20%; } }
  @media screen and (min-width: 1080px) {
    .img-circle {
      float: left;
      margin-left: 0; } }
  @media screen and (min-width: 1920px) {
    .img-circle {
      width: 40%; } }

.img-circle:hover {
  filter: drop-shadow(10px 10px 15px #333333); }

.text1 {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  text-align: center;
  height: 11vh;
  padding-right: -1vw;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 1.2vw;
  margin-left: 6vw; }
  @media screen and (min-width: 720px) {
    .text1 {
      margin-top: 0;
      font-size: 1.2rem;
      padding-left: 2vw;
      padding-right: 2rem;
      top: 0; } }
  @media screen and (min-width: 1080px) {
    .text1 {
      padding-left: 6vw;
      margin-top: 16vh;
      font-size: 1rem; } }
  @media screen and (min-width: 1920px) {
    .text1 {
      font-size: 1.6rem;
      margin-top: 10vh; } }

.float {
  overflow: auto; }

hr {
  border: solid 0.05rem #333333;
  text-align: center;
  width: 50%; }

.about {
  margin: 3rem;
  background-color: #d1d1e0;
  background: -webkit-linear-gradient(left, darkslateblue, #d1d1e0);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, darkslateblue, #d1d1e0);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, darkslateblue, #d1d1e0);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, darkslateblue, #d1d1e0);
  border: #333333 5px solid;
  border-radius: 30px;
  margin-top: 10%;
  padding: 20px; }
  @media screen and (min-width: 720px) {
    .about {
      height: 45rem; } }
  @media screen and (min-width: 1920px) {
    .about {
      height: 45rem; } }
  @media screen and (min-width: 1080px) {
    .about {
      height: 30rem; } }

.squareimg {
  margin-top: 40px;
  height: 12rem;
  border: solid 5px white; }

a .squareimg:not(:hover) {
  filter: blur(5px); }
  @media screen and (min-width: 1080px) {
    a .squareimg:not(:hover) {
      height: 12rem; } }
  @media screen and (min-width: 1920px) {
    a .squareimg:not(:hover) {
      height: 20rem; } }

.photos {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #cce6ff;
  background: -webkit-linear-gradient(left, darkcyan, #cce6ff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, darkcyan, #cce6ff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, darkcyan, #cce6ff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, darkcyan, #cce6ff);
  height: 25rem;
  border: darkslategray 5px solid;
  margin-top: 4%;
  border-radius: 30px;
  overflow: auto;
  margin: 3rem;
  color: darkslategrey; }
  @media screen and (min-width: 1080px) {
    .photos {
      height: 25rem; } }
  @media screen and (min-width: 1920px) {
    .photos {
      height: 35rem; } }

.resume {
  background: -webkit-linear-gradient(left, blueviolet, #ecc6ec);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, blueviolet, #ecc6ec);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, blueviolet, #ecc6ec);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, blueviolet, #ecc6ec);
  background-color: #ecc6ec;
  border: #732673 5px solid;
  margin-top: 4%;
  border-radius: 30px;
  height: 30rem;
  padding: 2%;
  margin: 3rem;
  font-size: 1.2rem;
  color: #732673; }
  @media screen and (min-width: 720px) {
    .resume {
      height: 40rem; } }
  @media screen and (min-width: 1080px) {
    .resume {
      height: 30rem; } }
  @media screen and (min-width: 1920px) {
    .resume {
      height: 40rem; } }

h2 {
  font-size: 2vw;
  margin-top: 0;
  margin-right: 3vw;
  margin-bottom: 0;
  float: left;
  color: #732673; }

.item {
  margin-top: 0;
  float: left;
  color: #732673;
  margin-right: 5vw; }
  @media screen and (min-width: 720px) {
    .item {
      font-size: 2vw; } }
  @media screen and (min-width: 1080px) {
    .item {
      font-size: 1.2vw; } }

.rsch {
  float: left;
  padding-right: 0;
  padding-top: 2rem; }

.sec {
  padding-left: 14rem; }

.skl {
  float: left;
  padding-top: 2rem; }

.social {
  text-align: center;
  top: 0;
  margin: 0; }

.button1 {
  color: #732673;
  font-family: "Berlin Sans FB";
  border: transparent;
  background-color: transparent;
  border-radius: 15px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  margin-left: 20px;
  margin-top: 25px; }

.button1:hover {
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.24), 0 30px 100px 0 rgba(0, 0, 0, 0.19); }

.empty::after {
  content: "";
  clear: both;
  display: table; }

.fix {
  margin: 20px; }

ul.social-network {
  list-style: none; }

ul.social-network li {
  display: inline;
  margin: 0 5px; }

a.icoLinkedin:hover {
  background-color: #007bb7; }

.social-network a.icoGoogle:hover {
  background-color: #BD3518; }

.social-network a.icoInstagram:hover {
  background-color: #3f729b; }

.social-network a.icoGoogle:hover i, a.icoInstagram:hover i, a.icoLinkedin:hover i {
  color: #fff; }

.social-circle li a {
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 70px;
  font-size: 40px;
  line-height: 70px;
  color: #732673;
  display: inline-block; }

.social-circle li a:hover i, .triggeredHover {
  transform: rotate(360deg);
  transition: all 0.5s; }

.email {
  color: #333333;
  text-align: right;
  text-decoration: none; }

.phone {
  font-size: 1rem;
  color: #333333;
  font-weight: 800; }
  @media screen and (min-width: 720px) {
    .phone {
      padding-left: 30%; } }
  @media screen and (min-width: 1080px) {
    .phone {
      padding-left: 75%; } }

/*# sourceMappingURL=biocss.css.map */
